::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar:horizontal {
    height: .5rem;
}  

::-webkit-scrollbar-track {
    background-color: var(--ui-color-neutral-100)
}

::-webkit-scrollbar-track:horizontal {
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    transition: border ease-in-out .2s;
    background-color: var(--ui-color-neutral-400);
    border: .125rem solid var(--ui-color-neutral-200);
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--ui-color-neutral-500);
    border: unset
}

.dark {
    & ::-webkit-scrollbar-track {
        background-color: var(--ui-color-neutral-950);
    }

    & ::-webkit-scrollbar-thumb {
        background-color: var(--ui-color-neutral-700);
        border-color: var(--ui-color-neutral-950);
    }

    & ::-webkit-scrollbar-thumb:hover {
        background-color:var(--ui-color-neutral-600);
    }
}

.scroll-hidden::-webkit-scrollbar {
    width: 0;

    &:horizontal {
        height: 0;
    }  
}
