@layer utilities {
    * {
        // scrollbar-gutter: stable;
        scrollbar-width: none
    }

    *::-webkit-scrollbar {
        width: .6rem;

        &-thumb {
            border-radius: 1rem;
            background-color: var(--ui-bg-accented);
            border: solid var(--ui-bg);
            border-width: .2rem ;

            &:hover {
                background-color: var(--ui-bg-inverted);
                border-width: thin;
            }

            &, &:hover {
                transition: 0.2s ease;
                transition-property: background-color, border-width;
            }
        }

        &:horizontal {
            height: .5rem;
        }  

        &-track {
            background-color: transparent;

            &-track:horizontal {
                border-radius: 1rem;
            }
        }

        &-button {
            width: 0;
            height: 0;
            display: none;
          }
    }

    .scroll-hidden::-webkit-scrollbar {
        width: 0;
    
        &:horizontal {
            height: 0;
        }  
    }
}