@layer utilities {
    *::-webkit-scrollbar {
        width: .5rem;

        &-thumb {
            border-radius: 1rem;
            transition: border ease-in-out .2s;
            background-color: var(--ui-bg-accented);
            border: .125rem solid var(--ui-bg);

            &:hover {
                background-color: var(--ui-bg-inverted);
                border: thin solid var(--ui-bg);
            }
        }

        &:horizontal {
            height: .5rem;
        }  

        &-track {
            background-color: var(--ui-bg);

            &-track:horizontal {
                border-radius: 1rem;
            }
        }
    }

    .scroll-hidden::-webkit-scrollbar {
        width: 0;
    
        &:horizontal {
            height: 0;
        }  
    }
}