@use './scrollbar';
@use './transition';
// @use './fonts';

$text-variations: "default", "muted", "inverted", "dimmed", "toned", "highlighted";
$bg-variations: "default", "muted", "inverted", "elevated" ,"accented";
$border-variations: "default", "muted", "inverted", "accented";
$colors: "primary", "secondary", "success", "info", "warning", "error";
$types: "text", "bg", "border";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  // Ui text utility clases
  .text {
    @each $variation in $text-variations {
      &-#{$variation} { 
        color: if($variation == "default", var(--ui-text), var(--ui-text-#{ $variation })) 
      }
    }
  }
  
  // Ui bg utility clases
  .bg {
    @each $variation in $bg-variations {
      &-#{$variation} { 
        background-color: if($variation == "default", var(--ui-bg), var(--ui-bg-#{ $variation })) 
      }
    }
  }
  
  // Ui border utility clases
  .border {
    @each $variation in $border-variations {
      &-#{$variation} { 
        border-color: if($variation == "default", var(--ui-border), var(--ui-border-#{ $variation })) 
      }
    }
  }

  @each $color in $colors {
    .text-#{$color} { 
      color: var(--ui-#{ $color })
    }

    .bg-#{$color} { 
      background-color: var(--ui-#{ $color })
    }

    .border-#{$color} { 
      border-color: var(--ui-#{ $color })
    }
  }


}