@media (prefers-reduced-motion: no-preference) {
    .transition {
        &-fade {
            &-enter-active, &-leave-active { transition: opacity 0.5s ease }
            &-enter-from,  &-leave-to { opacity: 0 }

            &-t {
                &-enter-active, &-leave-active { 
                    transition: transform 0.5s ease-out, opacity .5s ease;
                }
                &-enter-from,  &-leave-to { 
                    transform: translateY(10%);
                    opacity: 0
                 }
            }

            &-r {
                &-enter-active, &-leave-active { 
                    transition: transform 0.5s ease-out, opacity .5s ease;
                }
                &-enter-from,  &-leave-to { 
                    transform: translate(10%);
                    opacity: 0
                 }
            }
        }

        &-slide {
            &-r {
                &-enter-active, &-leave-active { 
                    transform-origin: right;
                    transition: transform .55s ease 
                }
                &-enter-from, &-leave-to { transform: translate(100dvw) }
            }
        }
    
        &-grow {
            &-y {
                &-enter-active, &-leave-active { 
                    transform-origin: center;
                    transition: transform .2s ease, opacity .2s 
                }
                &-enter-from, &-leave-to { transform: scaleY(0) }
            }
            &-r {
                &-enter-active, &-leave-active { 
                    transition: clip-path .5s cubic-bezier(.15,.75,.5,1)
                }
                &-enter-from, &-leave-to { clip-path : inset(0 0 0 100%) }
                &-enter-to, &-leave-from { clip-path: inset(0 0 0 0%) }

                &-and-scale-down {
                    &-enter-active, &-leave-active { 
                        transform-origin: right;
                        background-origin: right;
                        transition: clip-path .4s cubic-bezier(.15,.75,.5,1), background-size .5s cubic-bezier(.15,.75,.5,.9) .2s;
                    }
                    &-enter-from, &-leave-to { 
                        clip-path : inset(0 0 0 100%);
                        background-size: 120%;
                    }
                    &-enter-to, &-leave-from { 
                        clip-path: inset(0 0 0 0%);
                        background-size: 100%;
                    }
                }
            }
        }
    }  
}
