@font-face {
	font-family: 'Plus Jakarta Sans';
	src:
		local('Plus Jakarta Sans'),
		url('../fonts/PlusJakartaSans-Variable.woff2') format('woff2'),
		url('../fonts/PlusJakartaSans-Variable.woff') format('woff'),
		url('../fonts/PlusJakartaSans-Variable.ttf') format('truetype');
	font-weight: 200 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Khand';
	src: 
		local('Khand') ,
		url('../fonts/Khand-Variable.woff2') format('woff2'),
		url('../fonts/Khand-Variable.woff') format('woff'),
		url('../fonts/Khand-Variable.ttf') format('truetype');
	font-weight: 500 900;
	font-variant-ligatures: additional-ligatures;
	font-optical-sizing: auto;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Viva Kaiva';
	src: 
		local('Viva Kaiva'),
		url('../fonts/VivaKaiva-Variable.ttf') format('truetype');
	font-weight: 100 950;
	font-variant-ligatures: additional-ligatures;
	font-optical-sizing: auto;
	font-display: swap;
	font-style: normal;
}