@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	/* Font family */
	--font-sans: 'Plus Jakarta Sans', 'Inter', 'Proxima Nova', 'ui-sans-serif', 'system-ui', 'sans-serif';
	--font-display: 'Khand', 'ui-sans-serif', 'system-ui', 'sans-serif';
	--font-superdisplay: 'Viva Kaiva', 'ui-sans-serif', 'system-ui', 'sans-serif';

	/* Font size */
	--text-10xl: 10rem;
	--text-11xl: 12rem;
	--text-12xl: 14rem;
	--text-13xl: 16rem;
	--text-14xl: 18rem;


	/* Animation */
	--animate-float: float 3s ease-in-out infinite;

	@keyframes float {
		0%, 100% { transform: translateY(0) }
		50% { transform: translateY(-10px) }
	}
}